<div>
    <label>ID:</label>
    <input type="number" ng-model="inputID">
    
    <input type="button" value="Getdate" ng-click="GetData()">
</div>
<div ng-repeat="item in info track by $index">
    {{item.id}} {{item.username}}
</div>