   
<div>
    <label> Pattern (N)=</label>
    <input type="number" ng-model="pattern_N">
    <input type="button" ng-click="drawPattern()" value="Display Pattern">
    <div ng-repeat="item in stringResult track by $index">
        {{item}}
    </div>
</div>